################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/coopsys/FileContentIndex/2a8078b0-cbaf-4c60-919a-c513b03f2446.vsidx
